/* line 1, ../sass/style.scss */
body {
  margin: 0;
}

/* line 4, ../sass/style.scss */
header {
  background-image: url(https://images.unsplash.com/photo-1606787733558-847bdd145796?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 400px;
  position: relative;
}
/* line 12, ../sass/style.scss */
header:after {
  background-color: rgba(0, 128, 128, 0.75);
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 0 21%, 0 0, 73% 0, 100% 71%, 24% 100%, 100% 71%, 100% 0%);
  /* clip-path: polygon(0 0, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%); */
  /* clip-path: polygon(0 0, 100% 1%, 100% 63%, 0% 100%); */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  content: "";
  display: block;
}
/* line 30, ../sass/style.scss */
header .content {
  background: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.95) 45%, rgba(249, 249, 252, 0.83267) 55%, rgba(0, 212, 255, 0) 100%);
  width: 100%;
  height: 100%;
  position: relative;
  /* clip-path: polygon(0 0, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%); */
  /* clip-path: polygon(0 0, 100% 1%, 100% 63%, 0% 100%); */
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 57, ../sass/style.scss */
header .content h1 {
  margin-left: 25%;
  margin-right: 25%;
}
